.results-container {
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: left;
  line-height: 0.5rem;
  margin-bottom: 5rem;
  background-color: white;
  border: 2px solid #2c3e509f;
  border-radius: 0.5rem;
  padding: 3rem;
}