#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* HEADER */

h1 {
  font-size: 2.5rem;
}

span {
  color: rgb(65, 161, 129);
  font-weight: 600;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  border: 2px solid #2c3e509f;
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 2rem auto;
  background-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 0.2rem;
}

input {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  border: 1px solid #2c3e5049;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #2c3e50e0;
}

small {
  margin-bottom: 0.8rem;
  text-align: left;
  color: rgb(221, 81, 81);
}

button {
  height: 4rem;
  background-color: #2c3e50;
  border: 0px solid #2c3e50;
  border-radius: 0.5rem;
  margin-top: 2rem;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: rgb(65, 161, 129);
  transform: scale(1.05, 1.05);
}

/* VALIDATION */

.results-container {
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: left;
  line-height: 0.8rem;
  margin-bottom: 5rem;
  background-color: white;
  border: 2px solid #2c3e509f;
  border-radius: 0.5rem;
  padding: 3rem;
}

.toast-container {
  width: 400px;
  border: 0px solid #2c3e509f;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px #2c3e50;
  padding: 1rem 3rem;
  margin: 2rem auto;
  background-color: rgba(233, 64, 64, 0.835);
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

/* ANIMATIONS */

/* Results */
.results-enter-from {
  opacity: 0;
}
.results-enter-to {
  opacity: 1;
}
.results-enter-active {
  transition: all 0.5s ease;
}

/* Error */
.toast-enter-active {
  animation: wobble 0.5s ease;
}
.toast-leave-from {
  opacity: 1; 
  transform: translateY(0px);
}
.toast-leave-to {
  opacity: 0; 
  transform: translateY(-100px);
}
.toast-leave-active {
  animation: all 0.5s ease;
}

@keyframes wobble {
  0% { opacity: 0; transform: translateY(-100px); }
  50% { opacity: 1; transform: translateY(0px); }
  60% { transform: translateX(8px); }
  70% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
  90% { transform: translateX(-8px); }
  100% { transform: translateX(0px); }
}

/* Inputs */
.input-name-enter-from {
  opacity: 0;
}
.input-name-enter-active {
  transition: all 1s ease;
}

.input-number-enter-from {
  opacity: 0;
}
.input-number-enter-active {
  transition: all 1.5s ease;
}

.input-postcode-enter-from {
  opacity: 0;
}
.input-postcode-enter-active {
  transition: all 2s ease;
}

.input-email-enter-from {
  opacity: 0;
}
.input-email-enter-active {
  transition: all 2.5s ease;
}

.input-password-enter-from {
  opacity: 0;
}
.input-password-enter-active {
  transition: all 3s ease;
}

.input-password-two-enter-from {
  opacity: 0;
}
.input-password-two-enter-active {
  transition: all 3.5s ease;
}